.project-img {
  border-radius: 14px;
  padding: 12px ;
  width: 20vw;
}

.project-card-container {
  width: 100%;
  background-color: rgb(77, 77, 77);
  box-shadow: 0 0 5px rgb(45, 45, 45);
  display: flex;
  text-decoration: none;
  color: white;
}

.project-card-text-container{
padding: 20px 12px 12px 12px;
}

.project-card-heading{
font-weight: 600;
font-size: large;
}

.project-card-sub-heading{
font-weight: 400;
font-size: medium;
}

.spacing{
     padding-top: 4vh;
}

@media (max-width: 768px){
    .project-card-container{
        display: block;
    }

    .project-img {
      border-radius: 0px;
      padding: 0px ;
      width: 100% !important;
      
    }
}
